@import "tailwindcss";

*{
  background-color: rgb(39 39 42);
  color: white;
}

/* DARK THEME */
.dark {
  background-color: rgb(24 24 27);
  color: white;
}

/* LIGHT THEME */
.light {
  background-color: rgb(244 244 245);
  color: rgb(24 24 27);
}
